* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
  width: 100%;
  height: 100%;
}

.tree-box {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* border: 2px dashed gray; */
}

table {
  border-collapse: collapse;
  border: 1px solid #000000;
}

table td {
  border: 1px solid #000000;
}

table th {
  border: 1px solid #000000;
}

