.diagram-component {
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 0;
  }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.tree-box-gt {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* border: 2px dashed gray; */
}

.first-time-loading {
  display: flex;
  align-self: center;
  justify-content: center;
}

.loading-bar {
  position: fixed;
  bottom: 20px;
  left: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: beige;

  padding: 20px;
  border-radius: 5px;

  font-size: 16pt; 
  font-weight: normal; 
}