.popup-inner {
    /*position: relative;*/
    padding: 30px;
    width: 60%;
    background-color: white;
    block-size: fit-content;
    border-radius: 5px;
    overflow: scroll;
}

.popup-inner .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none !important;
    background-color: transparent;
}

.additional-properties-container {
    max-height: calc(90vh - 250px);
}