.stats-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 100%;
    padding: 10px;
    border: solid black;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}
