.stats-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
    background-color: rgba(255, 255, 255, 0.99);
=======
    background-color: white;
>>>>>>> 44849ef ([mm2320] (UI) unify stats page UI)
    padding: 20px;
    border-radius: 5px;
}

.stats-panel #stat {
    margin: 10px
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;

    border: none !important;
    background-color: transparent;
    border-radius: 0;
}
