.label {
  display: flex;
  font-size: large;
  color: darkslategray;
  margin-bottom: 10px;
}

.control {
  display: inline;
  font-size: large;
  color: rgb(50, 50, 50);
  background-color: transparent;
  border-style: dashed;
  border-radius: 5px;
}

.family-select {
  display: inline;
  font-size: large;
  color: rgb(50, 50, 50);
  border: dashed #999;
  background-color: rgba(245, 245, 220, 0.25);
  border-radius: 5px;
  width: 11.5vw;
}