.label {
  display: flex;
  font-size: large;
  color: darkslategray;
  margin-bottom: 10px;
}

.control {
  display: inline;
  font-size: large;
  color: rgb(50, 50, 50);
  background-color: transparent;
  border: dashed #ccc 2px;
  border-radius: 5px;
}

.family-select {
  display: inline;
  font-size: large;
  color: rgb(50, 50, 50);
  border: dashed #ccc 2px;
  background-color: rgba(255, 240, 245, 0.5);
  border-radius: 5px;
  width: 200px;
}