.custom-upload {
    display: flex;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 20px 5px 20px;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    /* width: 35vw; */
    background-color: beige;
    border-radius: 5px;
}

.custom-upload #label {
    display: flex;
    font-size: 20pt;
    color: darkslategray;
}