.popup-inner {
    position: relative;
    padding: 20px;
    width: 70%;
    max-width: 700px;
    background-color: #F5F5DC;
    /* block-size: fit-content; */
    border-radius: 5px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none !important;
    background-color: transparent;
}


.row {
    display: flex;
    flex-direction: row;
    height: auto;
}

.col_key {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.col_val {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#key {
    height: 10%;
    margin: 5px;
}

#val {
    height: 10%;
    margin: 5px;
}
