.popup-inner {
    position: relative;
    padding: 20px;
    width: 70%;
    max-width: 700px;
    background-color: #FFF;
}

.popup-inner .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col_key {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.col_val {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#key {
    height: 10%;
}

#val {
    height: 10%;
}
