.popup-inner {
    position: relative;
    padding: 40px;
    max-width: 100vh;
    /* background-color: #F5F5DC; */
    background-color: rgba(255, 255, 255, 0.99);
    /* height: fit-content */
    block-size: fit-content;
    border-radius: 5px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none !important;
    background-color: transparent;
}

.additional-properties-container {
    max-height: 63vh;
}