.sidebar {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-start;
  height: 100vh;
  width: 15vw;
  z-index: 100;
  background-color: rgba(201, 220, 236, 1);
}

.sidebar .name-field{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
}

.sidebar .date-from-field{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
}

.sidebar .date-to-field{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
}

.sidebar .family-field{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
}

.sidebar .apply-button{
  display:inline-block;
  padding: 10px;
  border:0.1em solid darkgray;
  margin: 2.0em 0.1em 0.1em 0.8em;
  width: 200px;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration:none;
  align-self: stretch;
  /* font-family: 'Helvetica Neue', sans-serif;  */
  font-size: 20px; 
  font-weight: normal;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color: darkblue;
  text-align: start;
  transition: all 0.15s;
}

.sidebar .apply-button:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}
  
@media all and (max-width:30em){
  .sidebar .apply-button{
    display:block;
    margin:0.4em auto;
  }
}