.sidebar {
  position: fixed;
  right: 20px;
  top: 100px;

  display: flex;
  flex-direction: column;
  /* align-self: flex-end; */
  align-items: flex-start;

  padding: 25px;
  margin: 0px 10px;
  z-index: 100;

  background-color: rgba(201, 220, 236, 1);

  border-radius: 5px;

  box-shadow: 0px 0px 5px grey;
}